<div class="text-center">
  <h2>{{post.name}}</h2>
  {{!-- <p>{{{get_emoji}}}</p> --}}
  <p>{{post.description}}</p>
  <p>Created by {{post.user.name}}</p>
  {{!-- <p>
    <span for="img" aria-label="money">💲</span>
    <span class="dollar-amount">{{format_amount needed_funding}}</span>
    needed
  </p>
  <p>
    <button class="btn btn-primary">Fund this Tech!</button>
  </p> --}}
</div>
